[Unit]
Description=TeamSpeak 3 Server
After=network.target

[Service]
WorkingDirectory=SERVER_ROOT
User=TS_USER
Type=forking
ExecStart=SERVER_ROOT/ts3server_startscript.sh start inifile=ts3server.ini
ExecStop=SERVER_ROOT/ts3server_startscript.sh stop
PIDFile=SERVER_ROOT/ts3server.pid
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
